{% extends 'core/base.html' %}

{% block content_title %}
    CLIENTE
{% endblock content_title %}

{% block content %}

    {% for cliente in clientes %}
        <h3>{{ cliente.apellido }}, {{ cliente.nombre }}</h3>
        <p>{{ cliente.nacimiento }}</p>
        {% if cliente.pais_origen_id %}
            <p>{{ cliente.pais_origen_id }}</p> 
        {% else %}
            <p>No tiene registro de país de origen</p>
        {% endif %}
    {% endfor %}

    {% include 'core/back.html' %}
{% endblock content %}
