<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EducacionIT</title>
</head>
<body>
    <h1>Proyecto {{ nombre }} </h1>
    <p>Esta es una prueba 🔥</p>
    <h2>Estas son mis notas</h2>
    
    <div style="text-align: center;">
        {% for nota in notas %}
            {% if nota < 4 %}
                <p style="color:red">NOTA MALA: {{ nota }}</p>
            {% else %}
                <p style="color: green">NOTA BUENA: {{ nota }}</p>
            {% endif %}
        {% endfor %}
    </div>
</body>
</html>